body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(201, 165, 235);
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}
.questions-form {
    background-color: white;
    max-width: 50%;
    width: 600px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  0 200px;
    padding: 20px 0;

}
