body{
    font-size: 18px;
}
.inicial{
text-align: center;

}
.img {
position: absolute;
width: 500% ;
padding: 0%;
height: 500%;
margin: 20px;
}
.suma{
    font-size: 20px;
}
.ender{

}
.experi{

}
.compe{

}
.form{

}
.projetin{

}
