.topo {
    background-image: url('japinha.png');
    background-attachment: fixed; 
    background-repeat: initial;
    background-position: center center;
    padding: 0%;
}
.container {
    display: inline-block; 
    margin-right: 300px; 
}
.cont-infos {
    display: flex;
    align-items: center;
}
.logo img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.info a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.links-titular a {
    text-decoration: none;
    margin-right: 40px;
    color: #010101;
    font-weight: bold; 
}
.inicial{


}
p{
    font-size: large;
    color: #000000;
}
.inicial h1{
  text-align: center;
  background-color: white;
 font-size: 15vh;
}