h1{
    text-align: center;
}
.tex{
    text-align: center;
    display: flex;
    justify-content: center;
}
.tex button{
    background-color: rgb(73, 143, 175);
    width: 100px;
}

.names{
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 30px;
    display: grid;
}
