body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
#header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.titulo label {
    font-size: 24px;
    font-weight: bold;
}

.links-titular a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.main {
    text-align: center;
    padding: 20px;
}

.main-img {
    margin-top: 20px;
}

.imagem-do-usuario {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main label {
    font-size: 24px;
    font-weight: bold;
}

.main p {
    font-size: 16px;
    color: #555;
}

#main-logos-social-media {
    margin-top: 20px;
}

.logos-social-media {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

#bottom-port {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
