body{   
    font-size: large;
    width: 300%;
}
.hate{
text-align: center;
width: 600px;
line-height: 200px;
border-radius: 30px;
border: 2px solid #ccc;
box-shadow: (0px 0px 35px 0.5);
background-color:antiquewhite;
cursor:pointer;
}

b:hover{
    background-color: #306;
    color: bisque;
}

div.hate1{
text-align:center;
height:200px;
width:700px;
right: 0;
top: 0;
position: absolute;
border-radius: 20%;
background-color: aquamarine;
cursor: pointer;
}

div.hate2{
text-align: center;
width: 500px;
line-height: 100px;
border-radius: 30px;
right: 500px;
position: absolute;
border: 1px solid #c26a6a;
box-shadow: (0px 0px 35px 0.5);
background-color:rgba(113, 11, 172, 0.198);
cursor:pointer;
}
div.hate3{
text-align: center;
width: 250px;
line-height: 250px;
border-radius: 30px;
right: 100px;
border: 3px solid #71c26a;
box-shadow: (0px 0px 35px 0.5);
background-color:rgba(59, 1, 93, 0.198);
cursor:pointer;
}
div.hate4{
text-align: center;
width: 300px;
line-height: 400px;
border-radius: 30px;
right: 800px;
position: absolute;
border: 3px solid #340584;
box-shadow: (0px 0px 35px 0.5);
background-color:rgba(35, 172, 11, 0.198);
cursor:pointer;
}
div.hate5{
    text-align:center;
    height:200px;
    width:700px;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 1px solid #c26a6a;
    border-radius: 3% 0%;
    background-color: rgb(111, 10, 101);
    cursor: pointer;
    }

    div.hate6{
    text-align:center;
    background-color: green;
    height: 200px;
    width: 200px;
    left: 0;
    bottom: 0;
    border: #340584;
    position: absolute;
    
}