body{   
    font-size: large;
    width: 300%;
}
.one{
text-align: center;
width: 800px;
line-height: 200px;
border-radius: 10px;
border: 2px solid #df0b0b;
box-shadow: (0px 0px 35px 0.5);
background-color:antiquewhite;
cursor:pointer;
}

b:hover{
    background-color: #306;
    color: bisque;
}

div.two{
text-align:center;
height:300px;
width:900px;
right: 0;
top: 0;
position: absolute;
border: 3px solid #7b4dca;
border-radius: 10px;
background-color: rgb(193, 241, 225);
cursor: pointer;
}

div.three{
    text-align: center;
    width: 500px;
    line-height: 900px;
    border-radius: 10px;
    border: 2px solid #df3e3e;
    box-shadow: (0px 0px 35px 0.5);
    background-color:rgb(233, 135, 8);
    cursor:pointer;
}
div.four{
    text-align:center;
    height:200px;
    width:700px;
    right: 0;
    bottom: 200px;
    position: absolute;
    border: 3px solid #7b4dca;
    border-radius: 10px;
    background-color: rgb(39, 219, 159);
    cursor: pointer;
}
div.five{
text-align: center;
width: 300px;
line-height: 300px;
border-radius: 10px;
bottom: 0;
right: 800px;
position: absolute;
border: 3px solid #7b4dca;
box-shadow: (0px 0px 35px 0.5);
background-color:rgba(35, 172, 11, 0.198);
cursor:pointer;
}
div.six{
    text-align:center;
    height:200px;
    width:700px;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 2px solid #300505;
    border-radius: 10px;
    background-color: rgb(238, 88, 223);
    cursor: pointer;
 }
