
.topo {
    background-image: url('temaki.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2% 0;
    text-align: center;
    color: #950606;
}
.container {
    display: inline-block;
    margin-right: 20px;
}

.cont-infos {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.info a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.inicial {
    background-image: url('logotipo.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    
}
.col2  {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}
.col {
    padding: 10px;
    background-color: #c56666;
    margin: 10px;
    border-radius: 5px;
}
.col2 form{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #b58261;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
